<p id="notice"><%= notice %></p>

<h1>Listing Investment Properties</h1>

<table>
  <thead>
    <tr>
      <th>Mlsnum</th>
      <th>Analysisdate</th>
      <th>Listeddate</th>
      <th>Solddate</th>
      <th>Address</th>
      <th>Listprice</th>
      <th>Downpayment</th>
      <th>Totgrossinc</th>
      <th>Vaccrdtallow</th>
      <th>Goi</th>
      <th>Totopexp</th>
      <th>Noi</th>
      <th>Deprec</th>
      <th>Cashoncashret</th>
      <th>Principlered</th>
      <th>Apprec</th>
      <th>Totroi</th>
      <th>Retonequity</th>
      <th>Grm</th>
      <th>Caprate</th>
      <th>Debtcoverratio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investment_properties.each do |investment_property| %>
      <tr>
        <td><%= investment_property.mlsNum %></td>
        <td><%= investment_property.analysisDate %></td>
        <td><%= investment_property.listedDate %></td>
        <td><%= investment_property.soldDate %></td>
        <td><%= investment_property.address %></td>
        <td><%= investment_property.listPrice %></td>
        <td><%= investment_property.downPayment %></td>
        <td><%= investment_property.totGrossInc %></td>
        <td><%= investment_property.vacCrdtAllow %></td>
        <td><%= investment_property.goi %></td>
        <td><%= investment_property.totOpExp %></td>
        <td><%= investment_property.noi %></td>
        <td><%= investment_property.deprec %></td>
        <td><%= investment_property.cashOnCashRet %></td>
        <td><%= investment_property.principleRed %></td>
        <td><%= investment_property.apprec %></td>
        <td><%= investment_property.totROI %></td>
        <td><%= investment_property.retOnEquity %></td>
        <td><%= investment_property.grm %></td>
        <td><%= investment_property.capRate %></td>
        <td><%= investment_property.debtCoverRatio %></td>
        <td><%= link_to 'Show', investment_property %></td>
        <td><%= link_to 'Edit', edit_investment_property_path(investment_property) %></td>
        <td><%= link_to 'Destroy', investment_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment property', new_investment_property_path %>
