<p id="notice"><%= notice %></p>

<p>
  <strong>Mlsnum:</strong>
  <%= @investment_property.mlsNum %>
</p>

<p>
  <strong>Analysisdate:</strong>
  <%= @investment_property.analysisDate %>
</p>

<p>
  <strong>Listeddate:</strong>
  <%= @investment_property.listedDate %>
</p>

<p>
  <strong>Solddate:</strong>
  <%= @investment_property.soldDate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @investment_property.address %>
</p>

<p>
  <strong>Listprice:</strong>
  <%= @investment_property.listPrice %>
</p>

<p>
  <strong>Downpayment:</strong>
  <%= @investment_property.downPayment %>
</p>

<p>
  <strong>Totgrossinc:</strong>
  <%= @investment_property.totGrossInc %>
</p>

<p>
  <strong>Vaccrdtallow:</strong>
  <%= @investment_property.vacCrdtAllow %>
</p>

<p>
  <strong>Goi:</strong>
  <%= @investment_property.goi %>
</p>

<p>
  <strong>Totopexp:</strong>
  <%= @investment_property.totOpExp %>
</p>

<p>
  <strong>Noi:</strong>
  <%= @investment_property.noi %>
</p>

<p>
  <strong>Deprec:</strong>
  <%= @investment_property.deprec %>
</p>

<p>
  <strong>Cashoncashret:</strong>
  <%= @investment_property.cashOnCashRet %>
</p>

<p>
  <strong>Principlered:</strong>
  <%= @investment_property.principleRed %>
</p>

<p>
  <strong>Apprec:</strong>
  <%= @investment_property.apprec %>
</p>

<p>
  <strong>Totroi:</strong>
  <%= @investment_property.totROI %>
</p>

<p>
  <strong>Retonequity:</strong>
  <%= @investment_property.retOnEquity %>
</p>

<p>
  <strong>Grm:</strong>
  <%= @investment_property.grm %>
</p>

<p>
  <strong>Caprate:</strong>
  <%= @investment_property.capRate %>
</p>

<p>
  <strong>Debtcoverratio:</strong>
  <%= @investment_property.debtCoverRatio %>
</p>

<%= link_to 'Edit', edit_investment_property_path(@investment_property) %> |
<%= link_to 'Back', investment_properties_path %>
